{% extends 'base_admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-plus-square-o"></i>
                    Add Article
                </li>
            </ol>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.slug, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.created_ad, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
            {#<button class="btn">{{ button_label|default('Save') }}</button>#}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}